<nav aria-label="Page navigation example" class="mat-pagination-nav">
    <button mat-fab (click)="previousPage()" [disabled]="currentPage === 1" aria-label="Previous page">
        <mat-icon>chevron_left</mat-icon>
    </button>

    <ng-container *ngFor="let page of getPages()">
        <ng-container *ngIf="currentPage === page; else strokedButton">
            <button mat-flat-button color="primary" (click)="goToPage(page)">
                {{ page }}
            </button>
        </ng-container>
        <ng-template #strokedButton>
            <button mat-stroked-button color="secondary" (click)="goToPage(page)">
                {{ page }}
            </button>
        </ng-template>
    </ng-container>



    <button mat-fab (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalItems" aria-label="Next page">
        <mat-icon>chevron_right</mat-icon>
    </button>
</nav>