<div class="container-fluid " color="bg-primary">
    <div class="container p-5 rounded" style="position: relative; height: 100vh;">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="d-flex align-items-center gap-3">
                <!-- Title Section -->
                <div>
                    <h1 class="mb-2">Todo App</h1>
                    <p class="text-muted medium mb-0">
                        Today: {{ today | date: 'fullDate' }}
                    </p>
                </div>

                <!-- Square Button for Creating a New Task -->
                <button mat-stroked-button (click)="openForm()" class="square-button">
                    <mat-icon class="large-icon">add</mat-icon>
                </button>
            </div>

            <div class="d-flex align-items-start gap-2 ">
                <!-- Search Form -->
                <form (ngSubmit)="applySearchFilters()">
                    <mat-form-field appearance="fill" class="me-2">
                        <mat-label>Search by title</mat-label>
                        <input matInput [(ngModel)]="searchTerm" name="search" />
                    </mat-form-field>
                </form>
                <!-- Date Filter with Clear Button -->
                <mat-form-field appearance="fill" class="me-2">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="startDateFilter" (dateChange)="onDateChange($event)"
                        placeholder="YYYY-MM-DD" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <button mat-icon-button type="button" matSuffix (click)="clearDateFilter()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>

                <!-- Logout Button -->
                <div class="d-flex flex-column align-items-start justify-content-end h-100">
                    <button mat-fab (click)="logout()">
                        <mat-icon>logout</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <!-- Loading Spinner -->
        <div *ngIf="loading()" class="d-flex justify-content-center my-4">
            <mat-spinner></mat-spinner>
        </div>


        <mat-card *ngIf="!loading()" class="todo-container">
            <mat-list>
                <li *ngFor="let todo of paginatedTodos" mat-list-item>
                    <mat-card class="todo-card">
                        <mat-card-content class="todo-card-content">
                            <div>
                                <mat-checkbox (change)="toggleComplete(todo)" [checked]="todo.completed"></mat-checkbox>
                                <span
                                    (click)="editTodo(todo.id)" class="cursor-pointer">
                                    {{ todo.name }}
                                </span>
                            </div>
                            <div class="todo-actions">
                                <mat-chip>{{ todo.date | date: 'shortDate' }}</mat-chip>
                                <button mat-mini-fab (click)="deleteTodo(todo.id)" aria-label="Delete Todo">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </li>
            </mat-list>
        </mat-card>



        <!-- Pagination Component -->
        <app-pagination [totalItems]="filteredTodos.length"></app-pagination>
    </div>
</div>