<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">
            {{ currentTodo ? 'Edit Task' : 'Add New Task' }}
        </h5>
        <button type="button" class="btn-close" (click)="cancel()" [disabled]="loading"></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <!-- Task Name Input -->
            <input type="text" [ngClass]="{'input-error': taskName.invalid && (taskName.touched || submitted)}"
                class="form-control mb-2" placeholder="Add a new task" name="name" ngModel required
                #taskName="ngModel" />
            <div *ngIf="taskName.invalid && (taskName.dirty || taskName.touched || submitted)" class="alert">
                <small *ngIf="taskName.hasError('required')">Name is required.</small>
            </div>

            <!-- Start Date Input -->
            <input type="date" class="form-control mb-2" placeholder="Start Date" name="date" ngModel required
                #startDate="ngModel" />
            <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched || submitted)" class="alert">
                <small *ngIf="startDate.hasError('required')">Date is required</small>
            </div>

            <!-- Submit Button -->
            <button class="btn btn-primary w-100" type="submit" [disabled]="loading">
                <span *ngIf="!loading">Save changes</span>
                <span *ngIf="loading">Loading...</span>
            </button>
        </form>
    </div>
</div>