.mat-pagination-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.mat-pagination-nav button {
  min-width: 36px;
  height: 36px;
}

.highlight-current {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #1976d2;
  /* primary color border */
  font-weight: bold;
}